<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
  <a class="navbar-brand" href="{% url 'home' %}">Başak İnşaat ve Temizlik</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Anasayfa <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'hakkimizda' %}">Hakkımızda</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'post:index' %}">Haberler</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Emlak
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Kiralık</a>
          <a class="dropdown-item" href="#">Satılık</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'proje:index' %}">Projelerimiz</a>
        </div>
      </li>

              <li class="nav-item">
        <a class="nav-link" href="{% url 'temizlik' %}">Temizlik Hizmetleri</a>
      </li>

        {% if request.user.is_authenticated %}
                <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ekle
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'post:create' %}">Haber ekle</a>
          <a class="dropdown-item" href="{% url 'proje:create' %}">Proje ekle</a>
        </div>
      </li>
      {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Anahtar kelime" aria-label="Search">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Arama</button>
    </form>
  </div>
</nav>